body{
margin:0;font-family:Arial;
background:radial-gradient(circle,#0f2b52,#020a16);
color:white
}
.app{text-align:center;padding:15px}

.status{
padding:10px 30px;border-radius:30px;
display:inline-block;font-weight:bold
}
.connected{background:#18ff99;color:black}
.disconnected{background:#ff4d4d}

.switch button{
padding:10px 20px;border:none;
border-radius:25px;margin:8px;
background:#222;color:white
}
.switch .active{background:#1fffd1;color:black}

.feeder{
margin:auto;width:95vw;max-width:380px;
background:linear-gradient(145deg,#0e1f36,#071223);
border-radius:30px;padding:20px;
box-shadow:0 0 25px #00ffd0;
transition:.3s
}
.feeder.eat{box-shadow:0 0 40px #18ff99,0 0 80px #18ff99}

.cat{font-size:80px;animation: float 3s ease-in-out infinite}
.cat.hungry{animation:shake .4s infinite}

@keyframes float{50%{transform:translateY(-10px)}}
@keyframes shake{
0%{transform:translateX(0)}
25%{transform:translateX(-3px)}
50%{transform:translateX(3px)}
75%{transform:translateX(-3px)}
100%{transform:translateX(0)}
}

.cards{display:flex;justify-content:space-between}
.card{width:45%;background:#08172b;border-radius:20px;padding:10px}

.bar{width:100%;height:8px;background:#000;border-radius:10px;margin-top:5px}
#barStock{height:100%;width:0%;background:#18ff99;border-radius:10px;transition:.5s}

.stok-label{margin:15px auto;padding:12px;border-radius:30px;background:#18ff99;color:black;font-weight:bold}

ul{list-style:none;padding:0}
li{font-size:14px;color:#00ffd5;animation:pop .3s ease}
@keyframes pop{from{transform:scale(0);opacity:0}to{transform:scale(1);opacity:1}}
